body {
  font-family: "Cuprum", "Arial" ,serif;
  font-size: 21px;
  line-height: 18px;
  color: #000000;
  font-weight: normal;
}
h1 {
  font-family: "Cuprum", "Arial" ,serif;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
}
h2 {
  font-family: "Cuprum", "Arial" ,serif;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  font-weight: bold;
}
